NEXT_PUBLIC_SUPABASE_URL=https://leicdvrywpmtajqadxjr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxlaWNkdnJ5d3BtdGFqcWFkeGpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYxNzcyMjksImV4cCI6MjEwMTc1MzIyOX0.5hZ_F2gvhrsggWBlH7ICI-eXDekhlRMaMFbp-hXh5oI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxlaWNkdnJ5d3BtdGFqcWFkeGpyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjE3NzIyOSwiZXhwIjoyMTAxNzUzMjI5fQ.9t5Em0qvtz_d1ZK_8sGyKZdz26i_JyN5BEWpJnK-a0c
